## Listing and query Kafka Topics as Iceberg tables

In [1]:
# Start a Spark Session

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Streambased").getOrCreate()

spark

25/07/08 12:51:37 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
# In Streambased a Kafka cluster is equivalent to an Iceberg namespace we only have 1 in this demo but 
# it could operate over many

In [3]:
%%sql

USE isk.isk

25/07/08 12:51:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [4]:
# List Kafka topics that are represented as Iceberg tables

In [5]:
%%sql

show tables;

+-----------+---------------+-------------+
| namespace |     tableName | isTemporary |
+-----------+---------------+-------------+
|       isk | payment_terms |       False |
|       isk |  transactions |       False |
+-----------+---------------+-------------+

In [6]:
# Describe a topic/table - these descriptions are driven by Schema Registry but could come from other sources

In [7]:
%%sql

DESCRIBE transactions;

+-----------------+------------------------+---------+
|        col_name |              data_type | comment |
+-----------------+------------------------+---------+
|         storeId |                 string |    None |
|          amount |                 double |    None |
| paymentTermCode |                 string |    None |
|        itemCode |                 string |    None |
| transactionTime |          timestamp_ntz |    None |
|    kafka_offset |                 bigint |    None |
|        kafka_ts |          timestamp_ntz |    None |
|                 |                        |         |
|  # Partitioning |                        |         |
|          Part 0 | hours(transactionTime) |         |
+-----------------+------------------------+---------+

In [8]:
# Iceberg gives us the ability to inspect the data files that make up a table's population. 
# Note the naming convention that indicates these represent chunks of Kafka offsets 

# Also note the partitioning applied, in this case we are partitioned by hour and have chosen to represent each hour 
# as one file

In [9]:
%%sql

SELECT *
FROM isk.isk.transactions.files;

+---------+------------------------------------------------------------+-------------+---------+----------------------------------+--------------+--------------------+--------------+--------------+-------------------+------------------+--------------+--------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                  file_path | file_format | spec_id |                        partition | record_count | file_size_in_bytes | column_sizes | value_counts | null_value_counts | nan_value_counts | lower_bounds | upper_bounds | key_metadata | split_offsets | equality_ids | sort_order_id | referenced_data_file | content_offset | content_size_in_bytes |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        readable_metrics |
+---------+------------------------------------------------------------+-------------+---------+----------------------------------+--------------+--------------------+--------------+--------------+-------------------+------------------+--------------+--------------+--------------+---------------+--------------+---------------+----------------------+----------------+-----------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|       0 |  s3://transactions/iceberg_data/10000/0-946000-956000.avro |        AVRO |       0 | Row(transactionTime_hour=484871) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-937000-947000.avro |        AVRO |       0 | Row(transactionTime_hour=484870) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-928000-938000.avro |        AVRO |       0 | Row(transactionTime_hour=484869) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-919000-929000.avro |        AVRO |       0 | Row(transactionTime_hour=484868) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-910000-920000.avro |        AVRO |       0 | Row(transactionTime_hour=484867) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-901000-911000.avro |        AVRO |       0 | Row(transactionTime_hour=484866) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-892000-902000.avro |        AVRO |       0 | Row(transactionTime_hour=484865) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-883000-893000.avro |        AVRO |       0 | Row(transactionTime_hour=484864) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 | s3://transactions/iceberg_data/2000/0-1000000-1002000.avro |        AVRO |       0 | Row(transactionTime_hour=484877) |         2000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 | s3://transactions/iceberg_data/10000/0-991000-1001000.avro |        AVRO |       0 | Row(transactionTime_hour=484876) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-982000-992000.avro |        AVRO |       0 | Row(transactionTime_hour=484875) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |
|       0 |  s3://transactions/iceberg_data/10000/0-973000-983000.avro |        AVRO |       0 | Row(transactionTime_hour=484874) |        10000 |             100024 |         None |         None |              None |             None |         None |         None |         None |          None |         None |             0 |                 None |           None |                  None | Row(amount=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), itemCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_offset=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), kafka_ts=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), paymentTermCode=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), storeId=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None), transactionTime=Row(column_size=None, value_count=None, null_value_count=None, nan_value_count=None, lower_bound=None, upper_bound=None)) |

In [10]:
# We can now query our Kafka data directly. This query fetches data for a single daya and performs a common aggregation on it.

In [11]:
%%sql
-- Total taken in each currency - for single day - 21/04/2025.    
    
select 
    round(sum(t.amount),2) as total_taken,
    p.currency  
from 
    transactions t 
join 
    payment_terms p 
on 
    t.paymenttermcode=p.termcode
where 
    t.transactiontime between '2025-04-21 00:00:00' AND '2025-04-21 23:59:59'
group by 
    p.currency 
order by 
    p.currency asc;

+-------------+----------+
| total_taken | currency |
+-------------+----------+
|   345407.66 |      ADP |
|    197153.0 |      AED |
|    413853.0 |      AFA |
|   209440.63 |      AFN |
|    72520.84 |      ALL |
|   613439.15 |      AMD |
|   551251.97 |      ANG |
|   135897.28 |      AOA |
|   204507.53 |      ARS |
|   349316.79 |      ATS |
|    608537.2 |      AUD |
|   466161.72 |      AWG |
|   410457.18 |      AYM |
|   411014.32 |      AZM |
|   270934.21 |      AZN |
|   136151.93 |      BAM |
|   136895.09 |      BBD |
|   417200.85 |      BDT |
|   342223.33 |      BEF |
|   532503.57 |      BGL |
|   335731.67 |      BGN |
|    136245.1 |      BHD |
|   133245.83 |      BIF |
|    69609.46 |      BMD |
|   266365.68 |      BND |
|     68083.4 |      BOB |
|   552224.63 |      BOV |
|   341473.05 |      BRL |
|   131242.93 |      BSD |
|   275892.64 |      BTN |
|   334290.38 |      BWP |
|   280908.84 |      BYB |
|    67468.42 |      BYN |
|   476573.59 |      BYR |
|   270860.86 |      BZD |
|   134256.65 |      CAD |
|   267761.09 |      CDF |
|    209894.6 |      CHE |
|   270597.72 |      CHF |
|   282435.66 |      CHW |
|    71707.73 |      CLF |
|   203991.16 |      CLP |
|   208831.89 |      CNY |
|   405270.93 |      COP |
|   209801.92 |      COU |
|   134675.49 |      CRC |
|   275881.67 |      CSD |
|   267508.52 |      CUC |
|   347210.82 |      CUP |
|   486431.73 |      CVE |
|   272272.55 |      CYP |
|   201703.49 |      CZK |
|   271054.06 |      DEM |
|   262794.33 |      DJF |
|   135728.37 |      DKK |
|    556575.1 |      DOP |
|   355075.49 |      DZD |
|   542096.63 |      EEK |
|   603283.28 |      EGP |
|     74615.5 |      ERN |
|   132618.69 |      ESP |
|   545987.73 |      ETB |
|   270675.41 |      EUR |
|   422365.55 |      FIM |
|    276074.4 |      FJD |
|   269684.42 |      FKP |
|    274940.1 |      FRF |
|   271827.95 |      GBP |
|   339905.15 |      GEL |
|   273627.58 |      GHC |
|   141037.42 |      GHS |
|   131779.89 |      GIP |
|   339949.44 |      GMD |
|    70423.17 |      GNF |
|   207034.88 |      GRD |
|   271714.74 |      GTQ |
|   540720.95 |      GWP |
|   414114.16 |      GYD |
|   206270.66 |      HKD |
|   138992.23 |      HNL |
|   206712.71 |      HRK |
|   263096.14 |      HTG |
|   284896.56 |      HUF |
|   209655.39 |      IDR |
|   414519.28 |      IEP |
|   464520.11 |      ILS |
|   273882.24 |      INR |
|   543539.78 |      IQD |
|   412394.97 |      IRR |
|   200366.08 |      ISK |
|   550094.26 |      ITL |
|   142662.88 |      JMD |
|   135050.83 |      JOD |
|   481167.77 |      JPY |
|   138220.38 |      KES |
|   416602.52 |      KGS |
|   277304.39 |      KHR |
|   461297.41 |      KMF |
|   277772.86 |      KPW |
|   137145.08 |      KRW |
+-------------+----------+

In [12]:
# After the above query has executed please navigate to: http://localhost:4041/SQL/ and look at the details for the 
# latest completed query. You should see only 24 files were read for the job "BatchScan isk.isk.transactions". This demonstrates 
# that partitioning is working correctly (1 file per hour for 1 day = 24 files required to be read).

# Now we will remove the time bounds and run the query again

In [13]:
%%sql
-- Total taken in each currency - without time bounds
    
select 
    round(sum(t.amount),2) as total_taken,
    p.currency  
from 
    transactions t 
join 
    payment_terms p 
on 
    t.paymenttermcode=p.termcode
--where 
--    t.transactiontime between '2025-04-21 00:00:00' AND '2025-04-21 23:59:59'
group by 
    p.currency 
order by 
    p.currency asc;

+-------------+----------+
| total_taken | currency |
+-------------+----------+
|  1575366.03 |      ADP |
|   947567.82 |      AED |
|  1910102.22 |      AFA |
|   947117.13 |      AFN |
|   323531.48 |      ALL |
|  2863976.84 |      AMD |
|  2509419.46 |      ANG |
|   631476.39 |      AOA |
|   954092.39 |      ARS |
|  1595290.19 |      ATS |
|  2820595.65 |      AUD |
|  2190502.77 |      AWG |
|  1882976.17 |      AYM |
|  1916759.35 |      AZM |
|  1250114.78 |      AZN |
|   641170.97 |      BAM |
|   627102.82 |      BBD |
|  1938848.14 |      BDT |
|   1576823.3 |      BEF |
|  2529598.39 |      BGL |
|  1584700.53 |      BGN |
|   632561.72 |      BHD |
|   636985.99 |      BIF |
|   320814.63 |      BMD |
|  1282109.05 |      BND |
|   322604.96 |      BOB |
|  2563609.69 |      BOV |
|  1583137.56 |      BRL |
|   629174.15 |      BSD |
|  1269842.23 |      BTN |
|  1562070.98 |      BWP |
|  1282299.94 |      BYB |
|   316059.12 |      BYN |
|   2204881.7 |      BYR |
|  1255612.66 |      BZD |
|   630043.98 |      CAD |
|  1253172.07 |      CDF |
|   958524.19 |      CHE |
|  1260566.74 |      CHF |
|  1275674.68 |      CHW |
|   326441.98 |      CLF |
|   954663.83 |      CLP |
|   952025.49 |      CNY |
|  1875770.66 |      COP |
|   950634.33 |      COU |
|   633138.97 |      CRC |
|  1271534.64 |      CSD |
|  1269321.47 |      CUC |
|  1581353.65 |      CUP |
|   2226391.4 |      CVE |
|  1267722.91 |      CYP |
|   942794.14 |      CZK |
|  1259043.77 |      DEM |
|  1253318.95 |      DJF |
|   631126.01 |      DKK |
|  2555626.33 |      DOP |
|  1604061.71 |      DZD |
|   2550560.8 |      EEK |
|  2879243.81 |      EGP |
|   319282.98 |      ERN |
|   622718.16 |      ESP |
|  2544346.26 |      ETB |
|  1253241.16 |      EUR |
|  1929136.29 |      FIM |
|  1289305.87 |      FJD |
|  1265935.58 |      FKP |
|  1253570.72 |      FRF |
|   1279337.4 |      GBP |
|  1579061.23 |      GEL |
|   1266114.7 |      GHC |
|   623154.38 |      GHS |
|   631970.96 |      GIP |
|  1580235.91 |      GMD |
|   316096.16 |      GNF |
|   951580.18 |      GRD |
|  1264867.02 |      GTQ |
|  2536281.46 |      GWP |
|   1893016.3 |      GYD |
|   964743.65 |      HKD |
|   634809.28 |      HNL |
|   942662.52 |      HRK |
|   1275465.0 |      HTG |
|  1280820.77 |      HUF |
|   955705.71 |      IDR |
|  1905006.94 |      IEP |
|  2176674.07 |      ILS |
|  1270148.22 |      INR |
|   2561612.1 |      IQD |
|  1908259.45 |      IRR |
|   959090.48 |      ISK |
|   2545813.4 |      ITL |
|    632298.6 |      JMD |
|   633757.92 |      JOD |
|  2205558.84 |      JPY |
|   641712.57 |      KES |
|  1913863.02 |      KGS |
|  1265890.22 |      KHR |
|  2198320.31 |      KMF |
|   1266891.2 |      KPW |
|   643050.74 |      KRW |
+-------------+----------+

In [ ]:
# returning to the latest query http://localhost:4041/SQL/ you will see this query read a far greater number of files.

In [ ]:
# Please return to the demo script.